@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
/* VARIABLES */
/* MIXINS */
.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 3.75em;
  font-weight: lighter;
  letter-spacing: 5px;
  color: #ca8a56;
  text-align: center;
}
.menu {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  font-size: 1.375em;
  list-style-type: none;
  text-shadow: 2px 2px 4px #5a4136;
}
.menulink {
  color: #fff;
  text-decoration: none;
}
.textstyle-one {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.18em;
  color: #33292d;
  font-weight: lighter;
  white-space: pre-line;
  text-align: center;
}
.textstyle-two {
  font-family: 'Open Sans', sans-serif;
  color: #33292d;
  font-size: 1.25em;
  text-align: center;
}
.footer {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  background-color: #ca8a56;
  text-transform: uppercase;
  color: #fff;
}
.footer li {
  list-style-type: none;
}
.footer a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px #5a4136;
}
.footer a:hover {
  color: #33292d;
  font-weight: bold;
  text-shadow: 2px 2px 4px #885c47;
}
.textstyle-three {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}
.buttonstyle a {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  background-color: #fa924d;
  color: #33292d;
}
/* I. GENERAL STYLES */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* II. CLASSES */
.hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.parallax {
  background-image: url("../images/i_bread_p.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.options {
  width: 40%;
  display: inline-block;
}
.options-button {
  width: 30%;
  margin: 0 auto;
}
.button {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  background-color: #fa924d;
  color: #33292d;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 4px #000;
  padding: 0.2em 2em;
}
.button:hover {
  background-color: #885c47;
  color: #fa924d;
}
.button-container {
  margin: 0 auto;
  width: 30%;
}
.hline {
  border-bottom: 1px #5a4136 solid;
}
/* III. MAIN NAVIGATION & HEADER */
h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 3.75em;
  font-weight: lighter;
  letter-spacing: 5px;
  color: #ca8a56;
  text-align: center;
  flex: 1 0 100%;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #33292d;
  font-size: 1.25em;
  text-align: center;
  font-size: 2.3em;
}
nav {
  background-color: #ca8a56;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  font-size: 1.375em;
  list-style-type: none;
  text-shadow: 2px 2px 4px #5a4136;
  text-align: center;
  flex: 1 0 100%;
  order: -1;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #5a4136;
  text-shadow: none;
  font-weight: bold;
}
nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1em;
}
header{
    flex: 1 0 100%;
}
/* IV. SECTION BANNER ONE: Parallax & Text */
main {
  flex: 1 0 100%;
}
#banner-one {
  margin-bottom: 2em;
}
#banner-one img {
  height: 390px;
  width: 1200px;
}
#banner-one h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.18em;
  color: #33292d;
  font-weight: lighter;
  white-space: pre-line;
  text-align: center;
  padding: 50px;
}
/* V. SECTION BANNER TWO: Image Links */
#banner-two ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 70px;
  margin-top: 80px;
}
#banner-two img {
  height: 235px;
  width: 285px;
  display: block;
}
#banner-two img:hover {
  opacity: 0.8;
}
#banner-two li {
  list-style-type: none;
  display: inline-block;
  line-height: 60px;
  text-align: center;
}
#banner-two li a {
  font-family: 'Open Sans', sans-serif;
  color: #33292d;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
#banner-two li a:hover {
  font-weight: bold;
  color: #ca8a56;
}
/* VI. SECTION BANNER THREE: Contests/Daily & Weekly Specials */
#banner-three {
  background-image: url("../images/bg_specials.jpg");
  margin-bottom: 2.5em;
  padding-bottom: 1em;
  height: 175px;
}
#banner-three p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  white-space: pre-line;
  margin-bottom: 0.5em;
}
#banner-three button a {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  background-color: #fa924d;
  color: #33292d;
}
/* VII. FOOTER */
footer {
  flex: 1 0 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  background-color: #ca8a56;
  text-transform: uppercase;
  color: #fff;
}
footer li {
  list-style-type: none;
}
footer a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px #5a4136;
}
footer a:hover {
  color: #33292d;
  font-weight: bold;
  text-shadow: 2px 2px 4px #885c47;
}
[class^="footer"] {
  flex: 1 0 20%;
}
[class^="footer"] h3 {
  padding-left: 30px;
}
[class^="footer"] ul {
  padding-left: 30px;
}
#contact li:nth-child(2) {
  text-transform: lowercase;
}
#credits {
  flex: 1 0 100%;
  text-align: center;
  padding: 1em 1em;
}
#credits p {
  line-height: 2px;
}
/* VIII. MEDIA QUERIES */
@media screen and (max-width: 768px) {
  #banner-three {
    display: none;
  }
  .parallax {
    background-attachment: scroll;
  }
}
/* ABOUT PAGE */
/* SECTION */
.slides-img {
  display: none;
}
#sec-one img {
  width: 1200px;
  /* delete later*/
}
#explore p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  margin-top: 380px;
  margin-left: 80px;
  position: absolute;
}
#explore a {
  text-decoration: none;
}
#explore-btn {
  position: absolute;
  margin-top: 450px;
  margin-left: 150px;
}
/* MAIN */
#about-head {
  text-transform: uppercase;
  padding: 1em 1em;
}
#about-text {
  flex: 1 0 50%;
  text-align: justify;
  padding-right: 1em;
  font-size: 1.2em;
}
#about-img {
  flex: 1 0 50%;
}
#about-img img {
  width: 600px;
}
#about-bantext {
  padding: 2em 2em;
  margin: 2em 2em;
}
#about-bantext p {
  font-family: 'Open Sans', sans-serif;
  color: #33292d;
  font-size: 1.25em;
  text-align: center;
  font-size: 2.2em;
  white-space: pre-line;
}
/* SECTION */
#imglink-one,
#imglink-two {
  flex: 1 0 50%;
}
#imglink-one img,
#imglink-two img {
  width: 600px;
}
#imglink-one p,
#imglink-two p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  position: absolute;
  margin-top: 220px;
  margin-left: 2em;
}
#imglink-one a,
#imglink-two a {
  position: absolute;
  margin-top: 280px;
  margin-left: 6em;
}
#imglink-two {
  padding-bottom: 3em;
}
/* MENU PAGE */
#h2-menu {
  text-transform: uppercase;
}
#m-img {
  background-image: url("../menu/images/sandwich.jpg");
  min-height: 600px;
  flex: 1 0 100%;
}
#menu-container {
  width: 90%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #5a4136;
  margin-bottom: 5em;
}
#menu-btn-links {
  text-align: center;
  margin-bottom: 2em;
}
#menu-btn-links button {
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33292d;
  margin-top: 1em;
  margin-right: 0.5em;
  padding-top: 0.5em;
}
#menu-btn-links button:hover {
  color: #ca8a56;
  transform: scale(1.1);
  font-weight: bold;
}
#bread-div,
#toast-div,
#sand-div,
#drinks-div,
#sweets-div {
  padding-bottom: 1em;
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
}
#bread-div h3,
#toast-div h3,
#sand-div h3,
#drinks-div h3,
#sweets-div h3,
#bread-div h4,
#toast-div h4,
#sand-div h4,
#drinks-div h4,
#sweets-div h4 {
  color: #5a4136;
}
#bread-div ul li,
#toast-div ul li,
#sand-div ul li,
#drinks-div ul li,
#sweets-div ul li {
  list-style-type: none;
}
#bread-div ul li p:nth-child(2),
#toast-div ul li p:nth-child(2),
#sand-div ul li p:nth-child(2),
#drinks-div ul li p:nth-child(2),
#sweets-div ul li p:nth-child(2) {
  font-size: 0.8em;
  font-style: italic;
}
.price {
  float: right;
}
